.venv/
__pycache__/
*.pyc
*.sqlite3
env/
*.log

*.py[cod]
*.$py.class

*.egg
*.egg-info/
dist/
build/

htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*,cover

celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

docker-compose.override.yml
**/docker-compose.override.yml
**/Dockerfile.*
**/.docker

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmProperties
*.kdevelop
*.komodoproject

.DS_Store
Thumbs.db
