__pycache__/
*.py[cod]
*$py.class

.env
env/
venv/
db.sqlite3

django_celery_beat_scheduler.db

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
*~

htmlcov/
.coverage
.pytest_cache/
.tox/

docker-compose.*.yml
.dockerignore